/* Container for the Admin Dashboard */
.a-dashboard-container {
    font-family: 'poppins', 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    background-color: #f8f8f8;
    min-height: 100vh;
  }
  
  /* Grid Layout for Cards */
  .a-dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    width: 80%;
    max-width: 1200px;
  }
  
  /* Individual Card */
  .a-dashboard-card {
    background-color: #fffbea; /* Light beige background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
  }
  
  .a-dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .a-card-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
  
  .a-dashboard-card h2 {
    font-size: 1.5rem;
    color: #1a202c; /* Dark navy color */
    margin-bottom: 10px;
  }
  
  .a-dashboard-card p {
    font-size: 1rem;
    color: #4a5568; /* Gray color */
  }