
.message-count {
  font-family: 'poppins', sans-serif;
  font-size: 1.2rem;
  color: #4a4aff;
  text-align: center;
  margin-top: 20px;
  height: 60vh;
}
.message-title{
  font-family: 'poppins', sans-serif;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

.message-table-header {
  border-radius: 10px;
}

.message-table {
  width: 80%;
  border-collapse: collapse;
  cursor: pointer;
  font-family: 'poppins', sans-serif;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px; /* Add rounded corners */
  overflow: hidden; /* Ensure rounded corners are applied */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message-table th,
.message-table td {
  padding: 10px;
  text-align: center;
  border: 0px solid #ddd;
}

.message-table th {
  background-color: #4a4aff;
  color: #fff;
}

.message-table tr:hover {
  background-color: #f2f2f2;
}

/* Popup Overlay */
.message-popup {
  font-family: 'poppins', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup Content */
.message-popup-content {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
  max-width: 90%;
}

.message-popup-content h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.message-popup-content p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #555;
}

/* Close Button */
.close-popup-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-popup-btn:hover {
  background-color: #c82333;
}

/*action buttons*/
.action-buttons {
  display: flex;
 justify-content: space-between;
}

/* delete button */
.delete-btn {
  width: auto;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #c82333;
}

/*view button*/
.view-btn {
  width: auto;
  background-color: #4a4aff;
  color: #fff;
  border: none;
  padding: 5px 5px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-btn:hover {
  background-color: #4a4aff;
}